@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body { overflow-x:hidden; font-size:16px; margin:0 auto;    font-family: 'Oswald', sans-serif;     font-family: 'Play', sans-serif;}

h1,h2,h3,h4,h5,h6,p {font-family: 'Oswald', sans-serif;     font-family: 'Play', sans-serif;}

/***********************main-header*************************/
header {
position: relative;
}
.main-header {
width: 100%;
display: block;
background: #141229;
}
.logo a {
color: #fff;
font-size: 24px;
font-family: 'Oswald',sans-serif;
text-decoration: none;
}
.logo img {
height: 70px;
width: 70px;
object-fit: contain;
}
.navbar.navbar-expand-lg {
display: block;
padding-top: 12px;
float: right;
}

.navbar.navbar-expand-lg ul li {
padding: 0px 15px;
}

.navbar.navbar-expand-lg ul li a {
color: #2c2c2c;
font-size: 16px;
letter-spacing: 0px;
font-style: normal;
text-transform: uppercase;
}
.btn.btn-primary.dropdown-toggle {
border: 0 !important;
background: 0!important;
}
.btn.btn-primary.dropdown-toggle:hover{color:#fff; border:0 !important; outline: 0;}


.main-header .navbar.navbar-expand-lg ul li a:hover {
color: #1bc2ca;

}

.button-large a {
border-radius: 3px;
font-weight: 300 !important;
font-size: 16px !important;

padding: 7px 25px;
text-decoration: none;
margin-top: 0px !important;
display: block;
text-transform: uppercase !important;
border: 1px solid;
font-weight: 600 !important;
border-color: #1bc2ca;
color: #1bc2ca !important;
border-radius:10px;
}

.button-large a:hover {
color: #ffffff!important;
background-color: #1bc2ca;
border-color: #1bc2ca;
}
.dropdown .btn.btn-primary.dropdown-toggle:hover {
color: #1bc2ca !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 0;
padding-left: 0;
font-size: 0.95rem;
font-weight: 700;
line-height: 1.4;
color: #fff;
}

::selection {
color: #df1e3a;
background: #575554;
}
.banner {
width: 100%;
overflow: hidden;
background: url(../images/banner-bg.jpg);
padding-top: 200px;
padding-bottom: 200px;
display: block;
text-align: center;
background-repeat: no-repeat;
background-size: cover;	 
}

.banner-text-heading {
width: 100%;
padding-top: 200px;
padding-bottom: 50px;
max-width: 555px;
margin-left: auto;
}
.banner-heading h2 {
font-size: 40px;
line-height: 1.2;
letter-spacing: -1px;
color: #fff;
font-weight: 500;
}
.banner-heading  h1 {
font-family: 'Oswald',sans-serif;
font-size: 96px;
line-height: 1.2;
text-shadow: 0 2px 4.8px rgba(30,29,50,0.3);
color: #fff;
}
.banner-heading  a {
letter-spacing: -0.3px;
font-size: 0.9rem;
font-weight: 700;
border-radius: 10px;
text-transform: uppercase;
background-color: #ffffff;
border-color: #ffffff;
color: #808080;
padding: 15px 50px;
display: inline-block;
margin-top: 30px;
text-decoration: none;
}
.banner-heading  a:hover{
background-color: #cccccc;
border-color: #cccccc;
color: #808080;
transition: all ease-in-out 0.5s;
}

.spot-light {
width: 100%;

background: #141229;
padding-top: 85px;
padding-bottom: 75px;
}

.spot-light h1 {
font-size: 40px;
line-height: 1.2;
letter-spacing: -1px;
color: #fff;
font-weight: 500;
text-transform: uppercase;
text-shadow: 0 2px 4.8px rgba(30,29,50,0.3);
margin-bottom: 75px;
text-align: center;
}




.Monster {
position: relative;
z-index: 1;
border-radius: 15px;
background-color: #292845;
overflow: hidden;
display: flex;
margin-bottom: 55px;
}
.Monster-text {
padding: 3.75rem;
float: left;
width: 50%;
max-width: 100%;
}
.Monster-text h3 {
font-family: 'Oswald',sans-serif;
font-size: 24px;
line-height: 1.2;
color: #fff;
}
.Monster-text h4 {
font-size: 0.95rem;
line-height: 1.4;
padding-top: 24px;
color: #fff;
font-family: 'Play',sans-serif;
font-weight: 400;
}
.Monster-text p {
font-family: 'Play',sans-serif;
font-size: 16px;
line-height: 1.6;
color: #fff;
padding-top: 16px;
}
.Monster-text a {
letter-spacing: -0.3px;
font-size: 0.9rem;
font-weight: 700;
border-radius: 10px;
text-transform: uppercase;
border-color: #1bc2ca;
color: #1bc2ca;
border: 2px solid;
padding: 15px 35px;
display: inline-block;
margin-top: 16px;
text-decoration: none;
}
.Monster-text a:hover{
color: #ffffff;
background-color: #1bc2ca;
border-color: #1bc2ca;
transition: all ease-in-out 0.5s;
}
.Monster-img {
width: 50%;
max-width: 100%;
}
.Monster-img img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
.Monster-img img:hover {
transition: .3s;
transition-duration: 0.3s;
-webkit-transform: perspective(2500px) rotateY(-180deg);
-khtml-transform: perspective(2500px) rotateY(-180deg);
-moz-transform: perspective(2500px) rotateY(-180deg);
-ms-transform: perspective(2500px) rotateY(-180deg);
-o-transform: perspective(2500px) rotateY(-180deg);
transform: perspective(2500px) rotateY(-180deg);
transition-duration: 1s;
cursor: pointer;
}
.slide-blog {
padding-bottom: 75px;
background-color: #141229;
}
.slick-slide img {
display: block;
object-fit: cover;
height: 400px;
margin: 0 auto;
}
.next-arrow.slick-arrow {
border: 0;
background-color: rgba(0,0,0,0.5);
position: absolute;
top: 50%;
right: 80px;
padding: 15px 19px;
border-radius: 50%;
z-index: 999;
}
.next-arrow.slick-arrow .fas.fa-arrow-right {
color: #fff;
font-size: 20px;
line-height: 25px;
z-index: 999;
}
.back-arrow.slick-arrow {
border: 0;
background-color: rgba(0,0,0,0.5);
position: absolute;
top: 50%;
left: 80px;
padding: 15px 19px;
border-radius: 50%;
z-index: 999;
}
.fas.fa-arrow-left {
color: #fff;
font-size: 20px;
line-height: 25px;
}
.date {
display: flex;
display: -webkit-flex;
justify-content: space-between;
-webkit-justify-content: space-between;
}

.date p {
font-family: 'Play',sans-serif;
font-size: 16px;
line-height: 1.4;
color: #1bc2ca !important;
font-weight: 600;
}

.left-side h4 {
font-family: 'Oswald',sans-serif;
font-size: 24px;
line-height: 1.2;
color: #fff;
}
.left-side  p {
color: #fff;
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
padding-top: 25px;
}
.star-icon i {
font-size: 1.25rem;
color: #1bc2ca;
margin-top: 16px;
}
.right-side {
width: 100%;
margin-top: 25px;
}
.progress-box {
display: flex;
justify-content: space-between;
}
.progress-box p {
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
color: #fff;
font-weight: 600;
margin-bottom: 0;

}
.progress-wrap {
margin-bottom: 40px;
}
.progress-value {
color: #1bc2ca;
font-size: 16px;

}

.feature {
padding-top: 3rem;
padding-bottom: 6rem;
background-color: #141229;
}
.box {
background: #292845;
padding: 2rem;
border-radius: 10px;
text-align: center;
}

.box h1 {
font-family: 'Oswald',sans-serif;
font-size: 2.5rem;
line-height: 1.2;
color: #fff;
padding-bottom: 20px;
font-weight: 700;
}

.box h4 {
color: #fff;
font-size: 16px;
letter-spacing: -1px;
font-weight: 500;
}
.box:hover {
transform: translatey(-20px);
transition: all ease-in-out 0.3s;
cursor: pointer;
}
.box:hover.box h4 {
color: #1bc2ca;
text-shadow: 0 0 0 rgba(0,0,0,0);
cursor: pointer;
}

.content-box {
padding-top: 5rem;
padding-bottom: 5rem;
background-color: #141229;
}
.content-heading h4 {
font-family: 'Oswald',sans-serif;
font-size: 24px;
line-height: 1.2;
color: #fff;
padding-bottom: 20px;
font-weight: 700;
}
.content-heading p {
color: #fff;
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
}
.content-image img {
width: 100%;
object-fit: cover;
}
.content-image img:hover {
transition: .3s;
transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transform: perspective(2500px) rotateY(-180deg);
-khtml-transform: perspective(2500px) rotateY(-180deg);
-moz-transform: perspective(2500px) rotateY(-180deg);
-ms-transform: perspective(2500px) rotateY(-180deg);
-o-transform: perspective(2500px) rotateY(-180deg);
transform: perspective(2500px) rotateY(-180deg);
transition-duration: 1s;
cursor: pointer;
}

.video-iframe {
padding-top: 4rem;
padding-bottom: 4rem;
background-color: #141229;
text-align: center;
}
.vr-heading h1 {
font-family: 'Oswald',sans-serif;
font-size: 40px;
line-height: 1.2;
text-shadow: 0 2px 4.8px rgba(30,29,50,0.3);
color: #fff;
margin-bottom: 30px;
}

.ytp-large-play-button {
position: absolute;
top: unset !important;
width: 68px;
height: 48px;
margin-left: 0!important;
margin-top: -24px;
-moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
-webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
z-index: 63;
bottom: 0% !important;
left: 10px!important;
}
.quote-box {
padding-top: 75px;
padding-bottom: 75px;
background-color: #141229;
}
.quote-heading {
padding: 40px;
border-radius: 15px;
background-color: #292845;
text-align: center;
}
.quote-inner {
display: flex;
justify-content: space-between;
}
.quote-inner p {
font-family: 'Play',sans-serif;
font-size: 16px;
line-height: 1.4;
color: #1bc2ca !important;
font-weight: 600;
padding: 0px !important;
}
.quote-heading .fas.fa-quote-left {
color: #1bc2ca;
margin-bottom: 10px;
}
.quote-heading p {
color: #fff;
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
font-style: italic;
padding-left: 60px;
padding-right: 60px;
margin-bottom: 30px;
}
.quote-heading h4 {
font-family: 'Oswald',sans-serif;
line-height: 1.2;
font-size: 24px;
color: #fff;
font-weight: 700;
}

.quote-heading h6 {
font-family: 'Play',sans-serif;
font-size: 16px;
line-height: 1.4;
color: #1bc2ca;
font-weight: 700;
text-transform: uppercase;
}
.Q-A{
padding-top: 4rem;
padding-bottom: 4rem;
background-color: #141229;
}
.Q-heading h1 {
font-family: 'Oswald',sans-serif;
font-size: 40px;
line-height: 1.2;
text-shadow: 0 2px 4.8px rgba(30,29,50,0.3);
color: #fff;
text-align: center;
padding-bottom: 3rem;
}
.icon-text {
display: flex;
justify-content: center;
align-items: center;
width: 100px;
height: 100px;
border-radius: 50%;
background: linear-gradient(to right,#96ecf0,#5c9edd);
float: left;
margin-right: 20px;
}
.icon-text h1 {
font-family: 'Oswald',sans-serif;
font-size: 40px;
line-height: 1.2;
color: #fff;
font-weight: 700;
}
.icon-box.box-second {
display: flex;
display: -webkit-flex;
}
.icon-text {
order: 2;
}
.icon-box.box-second .icon-text {
margin-right: 0;
margin-left: 20px;
}
.text-content {
width: 80%;
max-width: 100%;
margin: 0 auto;
padding-right: 0;
}
.icon-box h4 {
font-family: 'Oswald',sans-serif;
font-size: 1.5rem;
line-height: 1.2;
color: #fff;
margin: 0;
}
.icon-box p {
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
padding-top: 24px;
color: #fff;
}
.Q-A .border {
border:0!important;
border-right: 1px solid #f5f5f5 !important;
border-bottom: 1px solid #f5f5f5!important;
height: 100%;
padding: 60px 30px;
}
.border:nth-child(3) {
border-bottom: 0px !important;
}
.border:nth-child(2) {
border-right: 0px !important;
}
.border:nth-child(4) {
border-bottom: 0px !important;
border-right: 0px !important;
}

.contact-form {
padding-top: 5rem;
padding-bottom: 5rem;
background-color: #141229;
text-align: center;
}
.contact-heading h1 {
font-family: 'Oswald',sans-serif;
font-size: 2.5rem;
line-height: 1.2;
color: #fff;
padding-bottom: 3rem;
}

.C-form {
z-index: 1;
padding: 3rem;
position: relative;
overflow: visible;
max-width: 66%;
margin: 0 auto;
border-radius: 15px;
opacity: 0.5;
background: #5e5c7e;
}
.C-form input {
border-radius: 10px;
background-color: #292845;
color: #ffffff;
border: 1px solid #292845;
width: 49%;
max-width: 100%;
padding: 10px;
margin-bottom: 10px;
font-family: 'Play',sans-serif;
font-size: 1rem;
line-height: 1.6;
text-transform: capitalize;
}
#comment {
border-radius: 10px;
background-color: #292845;
color: #ffffff;
border: 1px solid #292845;
width: 100%;
max-width: 100%;
padding: 10px;
margin-bottom: 10px;
font-family: 'Play',sans-serif;
font-size: 1rem;
line-height: 1.6;
}
.send-btn {
border: none !important;
letter-spacing: -0.3px;
font-size: 0.9rem !important;
font-weight: 700;
border-radius: 10px;
text-transform: uppercase;
background-color: #1bc2ca !important;
border-color: #1bc2ca !important;
color: #ffffff;
width: 144px !important;
max-width: 100%;
}
.send-btn:hover {
background-color: #0f6c70 !important;
border-color: #0f6c70 !important;
color: #ffffff !important;
}

.map-box {
padding-top: 5rem;
padding-bottom: 5rem;
background-color: #141229;
}
.map-text h1 {
font-family: 'Oswald',sans-serif;
font-size: 40px;
line-height: 1.2;
color: #fff;
padding-bottom: 3rem;
text-align: center;
}

.google-map iframe {
width: 100%;
height: 400px !important;
max-height: 100%;
}

.map-text-second h1 {
font-family: 'Oswald',sans-serif;
font-size: 40px;
line-height: 1.2;
color: #fff;
padding-bottom: 20px;
}
.map-text-second p {
font-family: 'Play',sans-serif;
font-size: 16px;
line-height: 1.4;
color: #fff;
}
.social-icon-text {
padding: 0;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.social-icon-text li {
list-style: none;
align-items: center;
display: flex;
padding-bottom: 20px;
}

.social-icon-text li .fas.fa-phone { 
transform: rotate(90deg);
}
.social-icon-text li i {
color: #1bc2ca;
font-size: 28px;
float: left;
display: flex;
align-content: center;
align-items: center;
margin-right: 20px;
text-align: center;
margin-bottom: 0;
}
.social-icon-text li a {
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
color: #fff;
font-weight: 600;
text-decoration: none;
}
.social-icon-text li a span {
font-weight: 400;
}

footer {
padding-top: 7rem;
background-color: #141229;
}

.footer-logo {
display: flex;
justify-content: center;
}
.footer-logo img {
width: 100%;
max-width: 200px;
height: 200px;
object-fit: cover;
}

.footer-nav {
display: block;
text-align: right;
padding-bottom: 3rem;
margin: 0;
}
.footer-nav li {
display: inline-block;
}
.footer-nav li a {
margin-left: 20px;
font-family: 'Play',sans-serif;
font-size: 16px;
line-height: 1.4;
color: #fff;
font-weight: 600;
text-decoration: none;
}

.footer-nav li a:hover {
color: #1bc2ca;
text-decoration: underline;
}

.footer-right-side p {
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
color: #fff;
font-weight: 500;
margin: 0;
padding-top: 10px;
padding-bottom: 24px;
text-align: right;
}
.new-social {
float: right;
}
.new-social li i {
font-size: 20px;
}

.copy-right {
font-family: 'Play',sans-serif;
font-size: 0.95rem;
line-height: 1.4;
color: #fff;
font-weight: 500;
margin: 0;
padding-top: 20px;
border-top: 1px solid;
margin-top: 100px;
}

@media only screen and (max-width:991px){ 
.navbar.navbar-expand-lg {
display: block;
padding-top: 20px;
float: unset;
text-align: center;
padding-bottom: 20px;
}
.button-large {
display: inline-block;
}
.navbar-toggler {
position: absolute;
right: 0;
color: #fff;
outline: 0;
}
.banner-heading h2 {
font-size: 32px;
}
.banner-heading h1 {
font-size: 66px;
}
.spot-light h1 {
font-size: 32px;
}
.Monster-text {
padding: 1.75rem;
}
.box {	 
padding: 1rem;
}
.vr-heading h1 {
font-size: 32px;
}
.quote-heading p {
padding-left: 0px;
padding-right: 0px;
}
.Q-A .border {
height: auto;
}
.contact-heading h1 {
font-size: 32px;
}
.C-form {
max-width: 100%;
width:100%;
}
.map-text h1 {
font-size: 32px;
}
.map-text-second h1 {
font-size: 32px;
}
.next-arrow.slick-arrow {
right: -30px;	
}
.back-arrow.slick-arrow { 
top: 50%;
left: -30px;
}
.slick-slide img {
display: block;
object-fit: cover;
height: 400px;
margin: 0 auto;
width: 600px;
max-width: 100%;
}
button:focus {
outline: 0px dotted;
outline: 0px auto -webkit-focus-ring-color;
}

}

@media only screen and (max-width:767px){ 
.main-header .col-md-4 {
-ms-flex: 0 0 40.333%;
flex: 0 0 40.333%;
max-width: 40.333%;
}
.main-header .col-md-8 {
-ms-flex: 0 0 60.333333%;
flex: 0 0 57.333%;
max-width: 57.333%;
}
.banner { 
padding-top: 150px;
padding-bottom: 150px;
}
.banner-heading h2 {
font-size: 26px;
}
.banner-heading h1 {
font-size: 40px;
}
.banner-heading a { 
padding: 15px 30px;
}
.Monster {
display: block;
}
.Monster-text {
float: unset;
width: 100%;
}
.Monster-img {
width: 100%;
}
.slide-blog {
padding-bottom: 0;
}
.feature { 
padding-bottom: 0;
}
.box {
padding: 2rem;
margin-bottom: 40px;
}
.content-heading p {
margin-bottom: 40px;
}
.video-iframe {
padding-top: 0px;
padding-bottom: 0px;
}
.quote-box {
padding-bottom: 0px;  
}
.Q-heading h1 {
font-size: 32px;
padding-bottom: 0;
}
.Q-A .border {

border-right: none !important;
border-bottom: 1px solid #f5f5f5 !important;

}
.border:nth-child(3) {
border-bottom: 1px solid #f5f5f5 !important;
}
.border:nth-child(4) {
border-bottom: 1px solid #f5f5f5 !important;
border-right: 0px !important;
}
.icon-text {
margin-bottom: 30px;
}
.map-box {
padding-top: 0;
padding-bottom: 0;
}
.map-text-second {
margin-top: 50px;
}
.map-text-second h1 {
font-size: 28px;
}
footer {
padding-top: 3rem;
padding-bottom: 0;

}
.copy-right {
margin-top: 10px;
}
.C-form input {
width: 100%;
max-width: 100%;
}
.vr-heading iframe {
width: 100%;
}
.slick-slide img { 
height: auto;
}
.back-arrow.slick-arrow {
top: 50%;
left: 0;
}
.next-arrow.slick-arrow {
right: 0;
}
}

@media only screen and (max-width:575px){ 
.logo a {
font-size: 18px;
}
.footer-nav {
padding-left: 0px;
}
.icon-text {
margin-bottom: 100px;
}
.icon-box h4 {
font-size: 20px;	 
}

}

@media only screen and (max-width:480px){ 
.logo a {
display: none;
}
.main-header .col-md-4 {
-ms-flex: 0 0 40.333%;
flex: 0 0 33.333%;
max-width: 33.333%;
}
.main-header .col-md-8 {
-ms-flex: 0 0 60.333333%;
flex: 0 0 64.333%;
max-width: 64.333%;
padding-left: 0px;
}

}